.dashboard-container {
  padding: 40px;
  margin: auto;
}

h2 {
  color: #fff;
}


.table-container {
  padding: 40px;
  background: #fff;
  text-align: end;
  border-radius: 8px;
}

.ant-select-selection-item {
  color: #000
}